<launch>
    <arg name="model" default="1"/>
    <arg name="rviz" default="false" />
    <arg name="rvizconfig" default="$(find human-gazebo)/config/human.rviz" />

    <param name="robot_description" command="$(find xacro)/xacro $(find human-gazebo)/urdf/humanSubject0$(arg model)/humanSubject0$(arg model)_48dof.urdf" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen" />
</launch>